@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital@0;1&display=swap');

body{
    margin:0;
    padding-top: 16vh;
    background-color: #FDF5E9;

}

.menu{
    width: 84vw;
    height: 10vh;
    position: fixed;
    left: 50%;
    top:3vh;
    transform: translateX(-50%);
    border-radius:20px ;
    background-color: #f1dac7;
    box-shadow :0 8px 10px #b47b7b  ;

}

.menu header{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 40px;
    height: 100%;
}


.menu nav{
   
    display: flex;
    gap: 25px;
    margin-left: auto;
}
.menu nav a {
    text-decoration: none;
    color: #ffffff;
    padding:10px;
    border-radius: 10px;
    background-color:#841c43;
    transition: 0.6s;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.menu nav a:hover {
    background-color: #4f6815;
    color: #ffffff;
    box-shadow :0 8px 10px #b47b7b  ;
    
}
/*.logo{

    
}*/
.tarjeta{
    border-radius:18px ;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 10px 20px #d6d6d6;
    padding: 0 25px;
    color:#493129;

       
}

h2, h3{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #841c43;
    font-size: clamp(18px, 2.5vw, 28px);

}

p, li{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#232323;
    font-size: clamp(14px, 1.5vw, 18px);
}

.postre_info {
        
    margin: 6vh auto ;
    width: 68vw;
    min-height: 40vh;
    

}
.postre_info h2{
    margin-top: 10px;
}

.lista_ingr{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 6vh;
}

.ingredientes{
    width: 40vw;
   min-height: 60vh;
    border-left: 5px solid #4f6815;
}

.info_extra{

    width: 20vw;
    min-height: 40vh;
    border-left: 5px solid #4f6815;
}
.info_extra p{
   display: flex;
   align-items: center;
   gap: 8px; 
}
.tiempo::before{
    content: "⏱️";
}
.porcion::before{
    content: "🍽️";
}
.nivel::before{
    content: "⭐";
}
.receta{

        
    margin: 8vh auto; 
    width: 68vw;
    min-height: 80vh;

}


footer{
    display: flex;
    justify-content: center;
    gap: 100px ;
    margin-top: 20px;
}

.btn_volver{
    display: block;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
}


.btn1{
    background-image: url("../elementos/Recurso\ 3 (2).png");
}
.btn1:hover{
    background-image: url("../elementos/Recurso\ 8.png");
}


.btn2{
    background-image: url("../elementos/Recurso\ 6.png");
}
.btn2:hover{
    background-image: url("../elementos/Recurso\ 9.png");
}


.btn3{
    background-image: url("../elementos/Recurso\ 10.png");
}
.btn3:hover{
    background-image: url("../elementos/Recurso\ 11.png");
}


.btn4{
    background-image: url("../elementos/tarta.png");
}
.btn4:hover{
    background-image: url("../elementos/botòn\ espichado.png");
}


.btn5{
    background-image: url("../elementos/Recurso\ 5.png");
}
.btn5:hover{
    background-image: url("../elementos/recurso 4.png");
}
